.EightBall {
    width: 400px;
    height: 400px;
    display: block;
    border-radius: 50%;
    justify-content: center;
    margin: 10% auto auto auto;
}

#EightBall-black {
    background-color: black;
}
#EightBall-green {
    background-color: green;
}
#EightBall-goldenrod {
    background-color: goldenrod;
}
#EightBall-red {
    background-color: red;
}

.EightBall-text {
    color: white;
    font-size: 50px;
    padding: 100px 50px 50px 50px;
}

.EightBall-reset {
   margin-top: 20px;
   padding: 10px;
   margin-right: 20px;
}

.EightBall-colorCounts {
    display: inline-block;
}